* {
	margin: 0px;
	padding: 0;
}

body {
	font-family: font-family: 'Cabin', sans-serif;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto Mono', monospace;;
	background-color: rgb(82, 66, 76);
}

.header{
	display: flex;
	justify-content: center;
}

h1 {
	color: #e866ec;
	font-size: 2.5em;
}

.h1-paragraph{
	display: flex;
	justify-content: center;
	text-align: center;
	letter-spacing: -1px;
	color:rgb(97, 172, 147);
	font-size: .9em;
	padding-bottom: 4em;
	padding-top: 1em;
}

.box-row{
	width: 230px;
	height: 47px;
	border: 1px solid rgb(226, 180, 212);
	border-radius: 12px;
	}

.dotted-box{
	width: 230px;
	height: 100px;
	border: 2px dotted rgb(60, 117, 163);
	margin: -40px;
}

.flexbox-row{
	width: 230px;
	height: 100px;
	border: 1px solid rgb(226, 180, 212);
	border-radius: 12px;
}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .justify-center {
    justify-content: center;
  }

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
    flex: 1 0 25%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 3.5rem;
  }
  
  /* make each code card a flexbox column to align and justify content within it */
  .code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    /* padding: 1rem; */
    color: #e866ec;
  
    /* outline is like border, but on the outside of the box instead of inside */
    outline: 2px dashed rgb(97, 172, 147);
    outline-offset: .75em;
    transition: all 0.5s ease-in-out;
  }
  
  .code-card .card-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    margin: -3rem 0 .5rem 0;
    padding: 0.5rem 1rem;
    background-color: #33393f;
    color: #e866ec;
    border: 2px solid rgb(97, 172, 147);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }

  .card-body {
	font-size: .9em;
	letter-spacing: -1px;
	padding-bottom: 1em;
  }

  .code-card pre {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    /* padding: 1.2rem 1rem; */
    color: var(--gin);
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    background-image: linear-gradient(
      rgba(232, 102, 236, 0.3) 0%,
      rgba(232, 102, 236, 0.6) 100%
    );
    display: flex;
    align-items: center;
	height: 16em;
  }

.footer {
	justify-content: center;
	left:0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #e866ec;
}